<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %></h1>
        <br>
        <p><a href='/eventnew'>Create new event</a></p>
    </section>
  </aside>
</div>


  
  

<div class="center hero-unit">



<%= raw(event_calendar) %>

</div>

